body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    width: 700px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}


/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

#areaDiv {
    line-height: 50px;
}

    #areaDiv .areaDivChild {
        vertical-align: middle;
    }

.areaDivChild {
    padding-top: 17%;
}

.fieldWidth {
    width: 500px;
    padding-left: 15px;
    padding-right: 15px;
}

.buttonM{
    margin-top:10px;
}

